@font-face {
    font-family: 'Helvetica Neue';
    src: url('css/fonts/HelveticaNeue-Heavy.woff2') format('woff2'),
        url('css/fonts/HelveticaNeue-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('css/fonts/HelveticaNeue-Medium.woff2') format('woff2'),
        url('css/fonts/HelveticaNeue-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* main.css */
.white-header {
    background-color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 50px;
}

.link-buttons {
    display: flex;
}

.button {
    padding: 5px 10px;
    border: 2px solid grey;
    margin: 0 5px;
    text-decoration: none;
    color: black;
}
